.editor {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.gutter {
  background-color: transparent;
  box-shadow: inset -1px -1px var(--vscode-editorWidget-border);
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter:hover, .dragging .gutter{
  background-color: var(--vscode-focusBorder);
  box-shadow: none;
  transition-delay:0.3s;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
  margin-left: -4px;
  z-index: 1;
}

.infoview {
  padding-left: 1rem;
  height: 100%;
  overflow: auto;
}

/* Styling in the editor while typing abbreviations such as "\alpha" */
.abbreviation {
  text-decoration: underline;
}

/* Styling in the left margin of the editor when processing */
.processing {
  background: linear-gradient(
    to right,
    rgba(255, 165, 0, 1) 0%,
    rgba(255, 165, 0, 1) 30%,
    transparent 30%,
    transparent  100%
  );
}

/* Styling in the left margin of the editor on error */
.error {
  background: rgba(255, 0, 0, 1);
}

code {
  font-family: 'Source Code Pro', 'STIX Two Math', monospace;
  color: rgba(0, 32, 90, 0.87);
}
