.editor {
  display: flex;
  height: 100%;
}

.infoview {
  padding-left: 1rem;
}

.gutter {
  background-color: transparent;
  box-shadow: inset -1px -1px var(--vscode-editorWidget-border);
  background-repeat: no-repeat;
  background-position: 50%;
}
/*
.gutter-vertical {
  width: 100% !important;
}

.gutter-horizontal {
  height: 100% !important;
} */

.gutter:hover, .dragging .gutter{
  background-color: var(--vscode-focusBorder);
  box-shadow: none;
  transition-delay:0.3s;
}

.infoview {
  overflow: auto;
}

/* Styling in the editor while typing abbreviations such as "\alpha" */
.abbreviation {
  text-decoration: underline;
}

/* Styling in the left margin of the editor when processing */
.processing {
  background: linear-gradient(
    to right,
    rgba(255, 165, 0, 1) 0%,
    rgba(255, 165, 0, 1) 30%,
    transparent 30%,
    transparent  100%
  );
}

/* Styling in the left margin of the editor on error */
.glyph-margin-error {
  background: rgba(255, 0, 0, 1);
}

code {
  font-family: 'Source Code Pro', 'STIX Two Math', monospace;
  color: rgba(0, 32, 90, 0.87);
}


.notification-toasts {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.notification-toasts .codicon[class*='codicon-'] {
  font-size: 1.5em
}

.notification-toast-container {
  z-index: 1000;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.notification-toast {
  margin: .5em;
  background: var(--vscode-notifications-background);
  box-shadow: rgb(0 0 0 / 16%) 0 0 .5em .1em;
  width: 60ch;
  display: flex;
  flex-direction: column;
  padding: .7em .35em;
}

.notification-row {
  flex: 1;
  display: flex;
  padding-left: .3em;
  margin: .3em 0;
}

.notification-row-main {
  flex: 1;
  margin: .2em 0;
  padding: .1em;
}

.notification-icon-wrapper {
  line-height: 0;
  margin: 0 .2em;
  padding: .1em;
}

.notification-icon {
  color: var(--vscode-notificationsErrorIcon-foreground);
}

.notification-toasts button {
  border: none;
  color: var(--vscode-button-foreground);
  background: var(--vscode-button-background);
  cursor: pointer;
  padding: .5em 1em;
  border-radius: .2em;
  display: inline-block;
  margin: .2em .4em;
}

.notification-toasts button:hover {
  background: var(--vscode-button-hoverBackground);
}

.notification-close-wrapper {
  cursor: pointer;
  line-height: 0;
  margin: 0 .2em;
  padding: .1em;
}

.notification-close-wrapper:hover {
  background: var(--vscode-list-hoverBackground);
  border-radius: 5px;
}

.notification-close {
  cursor: pointer;
  display: flex;
}
