[submodule "Projects/lean4web-tools"]
	path = Projects/lean4web-tools
	url = https://github.com/hhu-adam/lean4web-tools.git
[submodule "client/vscode-lean4"]
	path = client/vscode-lean4
	url = https://github.com/leanprover/vscode-lean4.git
