.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.loading-ring {
  margin: auto;
  display: inline-block;
  width: 80px;
  height: 80px;
}

.loading-ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  /* note: vscode theme not loaded yet, don't use `--vscode-XXX` variables */
  border: 6px solid #aaa;
  border-color: #aaa transparent #aaa transparent;
  animation: loading-ring 1.2s linear infinite;
}

@keyframes loading-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none !important;
}
