.yRemoteSelection {
  background-color: rgb(250, 129, 0, 0.5);
}

.yRemoteSelectionHead {
  position: absolute;
  border-left: var(--vscode-symbolIcon-eventForeground) solid 2px;
  border-top: var(--vscode-symbolIcon-eventForeground) solid 2px;
  border-bottom: var(--vscode-symbolIcon-eventForeground) solid 2px;
  height: 100%;
  box-sizing: border-box;
}

.yRemoteSelectionHead::after {
  position: absolute;
  content: ' ';
  border: 3px solid var(--vscode-symbolIcon-eventForeground);
  border-radius: 4px;
  left: -4px;
  top: -5px;
}
