.editor-wrapper {
  flex: 1;
  min-height: 0;
  padding-top: 0.5rem;
}

.editor {
  display: flex;
  flex: 1;
}

.codeview-wrapper {
  width: 100%;
  position: relative;
}

.codeview {
  height: 100%;
  width: 100%;
}

.editor-support-warning {
  border: 3px solid var(--vscode-editorWarning-foreground);
  border-radius: 5px;
  padding: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  /* background-color: var(--vscode-editorWarning-background); */
  color: var(--vscode-editorWarning-foreground);
}

/* hack to adjust the code-mirror more to the Monaco theme loaded. */
.cm-editor {
  color: var(--vscode-editor-foreground);
  background-color: var(--vscode-editor-background);
}

.infoview {
  position: relative;
}

.infoview iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.gutter {
  background-color: transparent;
  box-shadow: inset -1px -1px var(--vscode-editorWidget-border);
  background-repeat: no-repeat;
  background-position: 50%;
}
/*
.gutter-vertical {
  width: 100% !important;
}

.gutter-horizontal {
  height: 100% !important;
} */

.gutter:hover,
.dragging .gutter {
  background-color: var(--vscode-focusBorder);
  box-shadow: none;
  transition-delay: 0.3s;
}

.infoview {
  overflow: auto;
}

/* Styling in the editor while typing abbreviations such as "\alpha" */
.abbreviation {
  text-decoration: underline;
}

/* Styling in the left margin of the editor when processing */
.processing {
  background: linear-gradient(
    to right,
    var(--vscode-editorOverviewRuler-warningForeground) 0%,
    var(--vscode-editorOverviewRuler-warningForeground) 30%,
    transparent 30%,
    transparent 100%
  );
}

/* Styling in the left margin of the editor on error */
.monaco-editor .glyph-margin-error {
  background: linear-gradient(
    to right,
    var(--vscode-editorOverviewRuler-warningForeground) 0%,
    var(--vscode-editorOverviewRuler-warningForeground) 30%,
    transparent 30%,
    transparent 100%
  );
}

code {
  font-family: 'Source Code Pro', 'STIX Two Math', monospace;
  color: var(--vscode-textPreformat-foreground);
  background-color: var(--vscode-textPreformat-background);
}

.notification-toasts {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.notification-toasts .codicon[class*='codicon-'] {
  font-size: 1.5em;
}

.notification-toast-container {
  z-index: 1000;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.notification-toast {
  margin: 0.5em;
  background: var(--vscode-notifications-background);
  box-shadow: var(--vscode-widget-shadow) 0 0 0.5em 0.1em;
  width: 60ch;
  display: flex;
  flex-direction: column;
  padding: 0.7em 0.35em;
}

.notification-row {
  flex: 1;
  display: flex;
  padding-left: 0.3em;
  margin: 0.3em 0;
}

.notification-row-main {
  flex: 1;
  margin: 0.2em 0;
  padding: 0.1em;
}

.notification-icon-wrapper {
  line-height: 0;
  margin: 0 0.2em;
  padding: 0.1em;
}

.notification-icon {
  color: var(--vscode-notificationsErrorIcon-foreground);
}

.notification-toasts button {
  border: none;
  color: var(--vscode-button-foreground);
  background: var(--vscode-button-background);
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 0.2em;
  display: inline-block;
  margin: 0.2em 0.4em;
}

.notification-toasts button:hover {
  background: var(--vscode-button-hoverBackground);
}

.notification-close-wrapper {
  cursor: pointer;
  line-height: 0;
  margin: 0 0.2em;
  padding: 0.1em;
}

.notification-close-wrapper:hover {
  background: var(--vscode-list-hoverBackground);
  border-radius: 5px;
}

.notification-close {
  cursor: pointer;
  display: flex;
}
