body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
}

@font-face {
  font-family: 'JuliaMono';
  src: local('JuliaMono'), url('/fonts/JuliaMono-Regular.ttf') format('truetype');
}
