@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2B2B2B;
  color: #fff;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (prefers-color-scheme: light) {
  body {
    background: #fff;
    color: #000;
  }
}

@font-face {
  font-family: "JuliaMono";
  src:
    local('JuliaMono'),
    url("/fonts/JuliaMono-Regular.ttf"),
}
