nav {
  /* box-shadow: 0 .3rem .3rem 0 var(--vscode-menu-separatorBackground); */
  border-bottom: 1px solid var(--vscode-menu-separatorBackground);
  background-color: var(--vscode-menu-background);
  color: var(--vscode-menu-foreground);
  z-index: 1;
}

/* The Lean logo */
nav > svg {
  height: 2.2rem;
  width: unset;
  vertical-align: middle;
  margin-left: .5rem;
  margin-right: 1rem;
  filter: invert(1);
  mix-blend-mode: difference;
}

/* The top bar with menu items. */
nav .menu {
  float: right;
}

/* A dropdown comprises a `nav-link` and a `dropdown-content`. The latter has absolute
positioning to be displayed on top of things. */
nav .dropdown {
  display: inline-block;
  position: relative;
}

/* menu items inside a dropdown */
nav .dropdown-content .nav-link {
  width: 100%;
}

nav .dropdown-content {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  background-color: var(--vscode-menu-background);
  z-index: 1;
  border: none;
  border-top: 1px solid var(--vscode-menu-separatorBackground);
  border-bottom: 1px solid var(--vscode-menu-separatorBackground);
  box-shadow: -.1rem .3rem .3rem 0 var(--vscode-menu-separatorBackground);
}

/* Overlay to fade out the dropdown if a sub-dropdown is displayed on top. */
nav .dropdown-overlay {
  background-color: var(--vscode-menu-background);
  opacity: 0.7;
  position: absolute;
  width:100%;
  height: 100%;
}

/* The menu items */
nav .nav-link {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  padding-left: .8rem;
  padding-right: .8rem;
  padding-top: .6rem;
  padding-bottom: .6rem;
}

/* Zulip logo (instead of font-awesome icon) */
nav .nav-link svg {
  width: 1.4rem;
}

/* menu items for dropdown */
nav .nav-link {
  padding-left: .8rem;
  padding-right: .8rem;
  padding-top: .6rem;
  padding-bottom: .6rem;
}

nav .nav-link:hover {
  color: var(--vscode-menu-selectionForeground);
  background-color: var(--vscode-menu-selectionBackground);
}
